<div class="shell">
  <img src="assets/images/header.png" alt="" class="shell__header">
  <img src="assets/images/footer.png" alt="" class="shell__footer">
  <img src="assets/images/logo.png" alt="" class="shell__logo">
  <div class="shell__content">
    <div class="main">
      <div class="main__intro">
        <div>Hari ini EMOS bertambah usia. Di usia yang ke 5 tahun ini EMOS mengajak anda untuk bersama-sama membangun ekosistem digital. Sebagai ucapan rasa syukur di usia yang ke 5 tahun ini, kami menawarkan berbagai macam promo menarik. Mulai dari diskon & bonus point, sampai EMOS Photo Comopetition. Terima kasih telah mempercayakan EMOS sampai saat ini dan seterusnya.</div>
      </div>
      <!-- <div class="main__promo">
        <img src="assets/images/txt-promo-principal.png" alt="" class="title">
        <div class="item">
          <div class="kode">KPNDA</div>
          <div class="nama">PANADOL CAPLET 100'S</div>
        </div>

        <div class="item">
          <div class="kode">KPNDA</div>
          <div class="nama">PANADOL CAPLET 100'S</div>
        </div>

        <div class="item">
          <div class="kode">KPNDA</div>
          <div class="nama">PANADOL CAPLET 100'S</div>
        </div>

        <div class="item">
          <div class="kode">KPNDA</div>
          <div class="nama">PANADOL CAPLET 100'S</div>
        </div>

      </div> -->

      <div class="main__katalog">
        <img src="assets/images/txt-katalog-promo-bersama.png" alt="" class="title">
        <div class="info">
          DAPATKAN DISKON & BONUS POINT
        </div>
        <div style="width:100% ; overflow-x: hidden;" [flickity]="flickityOptions">
          <div style="width: 100%;" *ngFor="let katalog of assets">
            <div class="info" *ngIf="katalog==='agustus-07.jpg' || katalog==='agustus-08.jpg'" >*KHUSUS APOTEK</div>
            <img [src]="'assets/images/katalog/'+katalog" alt="" class="items">
          </div>
        </div>
      </div>

      <!-- <div class="main__katalog-sub">
        <img src="assets/images/katalog/agustus-01.jpg" alt="">
      </div> -->

      <!-- <div class="main__actions">
        <img src="assets/images/card-emos-competition.png" alt="" class="competition">
        <img src="assets/images/card-emos-testimoni.png" alt="" class="testimoni">
      </div> -->
    </div>
  </div>
</div>
