@import "../../shared/breakpoints";
@import "../../shared/variables";

.shell {
  min-height: 100vh;
  position: relative;
  &__header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }

  &__logo {
    width: 75%;
    z-index: 2;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__content {
    padding: 35% 5% 10% 5%;
  }
}

.main {
  &__intro {
    color: $color-primary;
    font-size: 3.5vw;
    font-weight: bold;
    text-align: justify;
  }

  &__promo {
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      width: 90%;
    }

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .kode,
      .nama {
        background-color: white;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
        border-radius: 2vw;
        border: 1vw solid $color-primary;
        color: $color-primary;
        font-size: 3.8vw;
        font-weight: bold;
        padding: 1vw 2vw;
        margin-top: 2vw;
      }
      .kode {
        width: 25%;
      }
      .nama {
        width: 73%;
      }
    }
  }

  &__katalog-sub {
    width: 100%;
    margin-top: 2vw;
    img {
      width: 100%;
    }
  }

  &__katalog {
    // overflow-x: hidden;
    position: relative;
    border: 1vw solid $color-secondary;
    border-radius: 5vw;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 1vw 2vw;
    background-color: white;
    margin-top: 10vw;
    padding-top: 10.5vw;
    padding-bottom: 3vw;
    .title {
      width: 75%;
      position: absolute;
      top: -6vw;
      left: 50%;
      transform: translateX(-50%);
    }

    .info {
      text-align: center;
      font-size: 4.7vw;
      color: white;
      font-weight: bold;
      text-shadow: 0.6vw 0 0 $color-primary, -0.6vw 0 0 $color-primary,
        0 0.6vw 0 $color-primary, 0 -0.6vw 0 $color-primary,
        0.4vw 0.4vw $color-primary, -0.4vw -0.4vw 0 $color-primary,
        0.4vw -0.4vw 0 $color-primary, -0.4vw 0.4vw 0 $color-primary;
    }

    .items {
      width: 100%;
      // margin-top: 5vw;
      // display: flex;
      // flex-wrap: wrap;
      // width: 100%;
      // img {
      //   width: 28.5%;
      //   border-radius: 0.5vw;
      //   box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
      //   border: 1vw solid white;
      //   margin: 2vw;
      // }
    }
  }

  &__actions {
    margin-top: 5vw;
    img {
      width: 100%;
      margin-bottom: 5vw;
      cursor: pointer;
    }
    .competition {
    }

    .testimoni {
    }
  }
}

// flickity

:host::ng-deep .flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  outline: none;
}

:host::ng-deep .beranda .flickity-enabled.is-draggable {
  position: relative;
}

:host::ng-deep .flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
  min-height: 88vw;
  height: 88vw;
  max-height: 88vw;
}

:host::ng-deep
  .flickity-enabled.is-draggable
  .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

//custom flickity

:host::ng-deep .flickity-page-dots {
  list-style: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2%;
  width: 60vw;
  display: flex;
  justify-content: space-between;
}

:host::ng-deep .dot {
  cursor: pointer;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

:host::ng-deep .is-selected.dot {
  background-color: $color-primary;
}

//next prev btn
/* big buttons, no circle */
:host::ng-deep .flickity-prev-next-button {
  animation: fadeIn 0.7s ease-out;
  width: 55px;
  height: 55px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
}
/* arrow color */
:host::ng-deep .flickity-prev-next-button .arrow {
  fill: transparent;
}
:host::ng-deep .flickity-prev-next-button.no-svg {
  color: transparent;
}
:host::ng-deep .flickity-prev-next-button:hover {
  background: transparent;
}
:host::ng-deep .flickity-button.flickity-prev-next-button.next {
  position: absolute;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
  // background-image: url(../../assets/next-button.png);
  background-size: cover;
}
:host::ng-deep .flickity-button.flickity-prev-next-button.previous {
  position: absolute;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);
  left: 1.5rem;
  // background-image: url(../../assets/prev-button.png);
  background-size: cover;
}

.liputan .flickity-button.flickity-prev-next-button.next {
  display: none;
}
.liputan .flickity-button.flickity-prev-next-button.previous {
  display: none;
}
