/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "./app/shared/breakpoints";
@import "./app/shared/variables";

@font-face {
  font-family: SFUITextRegular;
  src: url(./assets/fonts/SFUIText-Regular.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: SFUITextRegular, "arial";
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.error {
  font-size: 4vw;
  margin-right: 3vw;
  color: crimson;
  margin-top: 2vw;
  font-weight: bold;
  text-align: center;
}
